@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

.cal-container{
 margin: auto ;
 max-width: 100%;
 width: 220px;
 height: 235px;
 background-color: rgb(251, 248, 248);
 border-radius: 5px;
 border: 1px solid #FF8D87;
}

.cal-container form{
    margin: auto;
    width: 200px;
}

.cal-container form input{
    border: 1px solid  #FF8D87;
    background-color: rgb(251, 248, 248);

    font-size: 18px;
    text-align: right;
    font-family: 'Jost', sans-serif;
    
    margin: 10px 0;
    width: 198px;
    height: 40px;
}
.cal-container  form .btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px ;
    grid-row-gap: 5px;
    max-width: 100%;
    width: 200;
    margin: auto;
   
}
.cal-container  form .espaco{
grid-column: 1 / span 2;
}

.cal-container form button{
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: white;

    border: 1px solid #FF8D87;
    border-radius: 10px;
    background-color: #FF8D87;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
